@import "tailwindcss";

@font-face {
	font-family: "PPNeueMontreal";
	src: url("/fonts/PPNeueMontreal-Regular.woff2") format("woff2");
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: "PPNeueMontreal";
	src: url("/fonts/PPNeueMontreal-Medium.woff2") format("woff2");
	font-style: normal;
	font-weight: 500;
	font-display: swap;
}

@font-face {
	font-family: "PPNeueMontrealMono";
	src: url("/fonts/PPNeueMontrealMono-Regular.woff2") format("woff2");
	font-style: normal;
	font-weight: 500;
	font-display: swap;
}

@theme {
	--font-pp-neue-montreal: "PPNeueMontreal";
	--font-pp-neue-montreal-mono: "PPNeueMontrealMono";
	--color-nocta-50: oklch(0.985 0 0);
	--color-nocta-100: oklch(0.97 0 0);
	--color-nocta-200: oklch(0.922 0 0);
	--color-nocta-300: oklch(0.87 0 0);
	--color-nocta-400: oklch(0.708 0 0);
	--color-nocta-500: oklch(0.556 0 0);
	--color-nocta-600: oklch(0.444 0.011 73.639);
	--color-nocta-700: oklch(0.371 0 0);
	--color-nocta-800: oklch(0.269 0 0);
	--color-nocta-900: oklch(0.205 0 0);
	--color-nocta-950: oklch(0.18 0 0);
}

@layer base {
	body {
		@apply bg-nocta-100 dark:bg-nocta-900 font-pp-neue-montreal;
	}
}

@layer utilities {
	/* Light mode */
	.bg-custom-radial {
		background-image: radial-gradient(
			125% 125% at 50% 0%,
			oklch(0.985 0 0) 50%,
			oklch(0.708 0 0)
		);
	}

	/* Dark mode */
	.dark .bg-custom-radial {
		background-image: radial-gradient(
			125% 125% at 50% 0%,
			oklch(0.145 0 0) 50%,
			oklch(0.205 0 0)
		);
	}
}

.ProseMirror:focus {
	outline: none;
}
.ProseMirror {
	min-height: 560px;
	max-height: 560px;
	overflow: scroll;
}
